
@{
    ViewBag.Title = "Clarinet";
}
<h2>Clarinet</h2>
How would you like to rent it?

<a href="@Url.Action("ClarinetNew", "Home")" class="w3-bar-item w3-button">New</a>
<a href="@Url.Action("ClarinetUsed", "Home")" class="w3-bar-item w3-button">Used</a>