
@{
    ViewBag.Title = "Flute";
}
<h2>Flute</h2>

How would you like to rent it?

<a href="@Url.Action("FluteNew", "Home")" class="w3-bar-item w3-button">New</a>
<a href="@Url.Action("FluteUsed", "Home")" class="w3-bar-item w3-button">Used</a>