
@{
    ViewBag.Title = "Saxophone";
}
<h2>Saxophone</h2>
How would you like to rent it?

<a href="@Url.Action("SaxophoneNew", "Home")" class="w3-bar-item w3-button">New</a>
<a href="@Url.Action("SaxophoneUsed", "Home")" class="w3-bar-item w3-button">Used</a>