
@{
    ViewBag.Title = "Trombone";
}
<h2>Trombone</h2>
How would you like to rent it?

<a href="@Url.Action("TromboneNew", "Home")" class="w3-bar-item w3-button">New</a>
<a href="@Url.Action("TromboneUsed", "Home")" class="w3-bar-item w3-button">Used</a>