
@{
    ViewBag.Title = "Tuba";
}
<h2>Tuba</h2>
How would you like to rent it?

<a href="@Url.Action("TubaNew", "Home")" class="w3-bar-item w3-button">New</a>
<a href="@Url.Action("TubaUsed", "Home")" class="w3-bar-item w3-button">Used</a>